.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 5px;
  border-right: 2px solid var(--asc-border);
  padding: 1rem;

  @include ultra-tablet-w {
    top: 50px;
    position: sticky;
    height: 85vh;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}

.label {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.search {
  @include inputres;
  padding-inline: 5px;
  padding-block: 5px;
  border-radius: 6px;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: var(--asc-low-font);
  border: 2px solid var(--asc-border);
  transition: border-color 0.4s 0.05s;

  &:hover {
    border-color: var(--asc-btn);
  }
}

.active {
  background-color: blueviolet;
}

.header {
  position: relative;

  border: 2px solid var(--asc-border);
  padding: 5px;
  padding-right: 30px;
  border-radius: 6px;
  cursor: pointer;

  transition: opacity 0.2s 0.2s, border-color 0.4s;

  &:hover {
    opacity: 0.8;
    border-color: var(--asc-text-success);
  }
}

.triangle {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--asc-brand) transparent;
  transition: transform 0.3s;
  transform: rotate(0deg);
}

.triangleDown {
  transform: rotate(180deg);
}

.icon {
  width: 25px;
  height: 25px;
}
