.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 40px;
  height: 40px;

  &:disabled {
    background-color: var(--asc-text-error);
  }

  &:active {
    transition: background-color 0.1s;
    background-color: tomato;
  }
}
