.root {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: 2px solid var(--asc-border);
  padding: 1rem;
  border-radius: var(--mobile-low-border-radius);
  height: 100%;

  & li {
    transition: color 0.3s 0.05s;
    display: flex;
    align-items: center;
    padding: 3px;
  }

  & li:hover {
    color: tomato;
  }
}

.link,
[data-theme='dark'] .link {
  background-color: transparent;
  transition: color 0.3s;

  &:hover {
    background-color: transparent;
    color: rgb(71, 74, 255);
  }
}

.itemCinemaInfinite {
  height: fit-content;
}
