.root {
  @include content;
  padding-block: var(--mobile-padding-block);
  display: flex;
  width: 100%;
  align-items: center;
}

.title {
  margin-left: 300px;
  margin-right: auto;
}

.button {
}
