.root {
  @include content;

  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 1rem;
  padding-block: var(--mobile-padding-block);
  width: 100%;
  font-size: var(--asc-low-font);
}

.title,
.link,
.button {
  font-size: inherit;
}
